In [36]:
import pandas as pd
import numpy as np

In [37]:
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [38]:
df= pd.read_csv("Fermentation_dataset.csv")

In [39]:
df.head()

   DAY  WET BIOMASS(g)  DRY BIOMASS(g)               CARBON SOURCE
0    3            7.70            0.78  Shea butter kernel extract
1    5            6.68            1.02  Shea butter kernel extract
2    7            4.82            0.97  Shea butter kernel extract
3    9           10.69            1.52  Shea butter kernel extract
4   11            9.00            1.69  Shea butter kernel extract

In [40]:
labelencode=LabelEncoder()
df['CARBON SOURCE']=labelencode.fit_transform(df['CARBON SOURCE'])

In [41]:
df.head(15)

    DAY  WET BIOMASS(g)  DRY BIOMASS(g)  CARBON SOURCE
0     3            7.70            0.78              3
1     5            6.68            1.02              3
2     7            4.82            0.97              3
3     9           10.69            1.52              3
4    11            9.00            1.69              3
5    13           10.64            2.63              3
6    15            9.49            2.23              3
7     3           22.83            2.31              0
8     5           17.13            1.39              0
9     7           28.87            1.83              0
10    9           20.17            1.06              0
11   11           17.83            1.07              0
12   13           25.62            3.36              0
13   15           25.68            2.17              0
14    3            3.23            1.37              2

In [42]:
X=df.drop('DAY',axis=1)
y=df['DAY']
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2)
X_train.shape,y_train.shape

((22, 3), (22,))

In [43]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression()
linear.fit(X_train,y_train)
prediction=linear.predict(X_test)

In [44]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [46]:
mse = mean_squared_error(y_test, prediction)
print ("Mean Squared error :",mse)
rmse = np.sqrt(mse)
print(f"Root Mean Squared Error: {rmse}")

Mean Squared error : 13.039374465333488
Root Mean Squared Error: 3.6110074031125285

In [49]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score

# Calculate R-squared
r2 = r2_score(y_test, prediction)
print(f"R-squared: {r2}")

# Perform cross-validation
cv_scores = cross_val_score(linear, X, y, cv=5, scoring='neg_mean_squared_error')
cv_mse = -cv_scores.mean()
cv_rmse = np.sqrt(cv_mse)
print(f"Cross-validated RMSE: {cv_rmse}")

R-squared: 0.27109086839750696
Cross-validated RMSE: 4.917199280906501

In [51]:
dt=DecisionTreeRegressor()

In [52]:
dt.fit(X_train,y_train)

DecisionTreeRegressor()

In [53]:
dt_pred=dt.predict(X_test)

In [54]:
print('Decision Tree Root Squared Error:',r2_score(y_test,dt_pred))
print('Decision Tree Mean Absolute Error:',mean_absolute_error(y_test,dt_pred))
print('Decision Tree Mean Squared Error:',mean_squared_error(y_test,dt_pred))

Decision Tree Root Squared Error: -0.41614906832298115
Decision Tree Mean Absolute Error: 4.666666666666667
Decision Tree Mean Squared Error: 25.333333333333332

In [55]:
# Calculate R-squared
r2 = r2_score(y_test, dt_pred)
print(f"R-squared: {r2}")

# Perform cross-validation
cv_scores = cross_val_score(dt, X, y, cv=5, scoring='neg_mean_squared_error')
cv_mse = -cv_scores.mean()
cv_rmse = np.sqrt(cv_mse)
print(f"Cross-validated RMSE: {cv_rmse}")

R-squared: -0.41614906832298115
Cross-validated RMSE: 7.408103670980854

In [56]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

# Initialize the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Perform cross-validation and calculate cross-validated RMSE
cv_scores = cross_val_score(rf_model, X, y, cv=5, scoring='neg_mean_squared_error')
cv_mse = -cv_scores.mean()
cv_rmse = np.sqrt(cv_mse)
print(f"Random Forest Cross-validated RMSE: {cv_rmse}")
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge
from sklearn.pipeline import make_pipeline

# Create polynomial features
poly = PolynomialFeatures(degree=2)

# Create a pipeline with polynomial features and Ridge regression
model = make_pipeline(poly, Ridge())

# Perform cross-validation and calculate cross-validated RMSE
cv_scores = cross_val_score(model, X, y, cv=5, scoring='neg_mean_squared_error')
cv_mse = -cv_scores.mean()
cv_rmse = np.sqrt(cv_mse)
print(f"Polynomial Features + Ridge Regression Cross-validated RMSE: {cv_rmse}")

Random Forest Cross-validated RMSE: 4.864243140852782
Polynomial Features + Ridge Regression Cross-validated RMSE: 6.636670495401819

In [58]:
import pickle
file_path = 'Ferment_linear_model.pkl'
with open(file_path, 'wb') as file:
    pickle.dump(linear, file)
print(f"Model saved to {file_path}")

Model saved to Ferment_linear_model.pkl